
.App {
  background: url('./assets/cork7.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.header-title {
  font-size: 6vw;
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

.App-header {
  margin: auto 0;
  text-align: center;
  height: 130px;
  padding: 10px;
}

.post-it {
  display: inline-grid;
  height: 155px;
  width: 155px;
  margin: 5vw;
  background: rgb(247, 247, 18);
  font-size: 18px;
  text-align: center;
  box-shadow: 2px 2px;
}

.note-title {
  margin: auto 0;
}

.deleteButton {
  visibility: hidden;
  text-align: right;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  color: rgb(163, 7, 7);
}

.post-it:hover .deleteButton {
  visibility: visible;
}


